.video-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.video {
  display: flex;
  justify-content: center;
}

.video video {
  width: 200px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .video {
    flex-basis: 100%;
  }

  .video-gallery {
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  .video + .video {
    margin-top: 1rem;
  }
}
